rsi_formatter:
  enable: true
  algo: "transform_driver.rsi_service"
pre_process_ai_algo:
  enable: true
  algos:
    complement:
      enable: true
      algo: "pre_process_ai_algo.algo_lib.complement"
    fusion:
      enable: true
      algo: "pre_process_ai_algo.algo_lib.fusion"
    smooth:
      enable: true
      algo: "pre_process_ai_algo.algo_lib.smooth"
scenario_algo:
  algos:
    collision_warning:
      enable: true
      algo: "scenario_algo.algo_lib.collision_warning"
    cooperative_lane_change:
      enable: true
      algo: "scenario_algo.algo_lib.cooperative_lane_change"
    do_not_pass_warning:
      enable: true
      algo: "scenario_algo.algo_lib.do_not_pass_warning"
    sensor_data_sharing:
      enable: true
      algo: "scenario_algo.algo_lib.sensor_data_sharing"
post_process_algo:
  algos:
    post_process:
      enable: true
      algo: "post_process_algo.post_process"
