rsi_formatter:
  algos:
    rsi_formatter:
      enable: true
      module: "transform_driver.rsi_service"
      algo: "rsi"
      version:
      - rsi
pre_process_ai_algo:
  algos:
    complement:
      enable: true
      module: "pre_process_ai_algo.algo_lib.complement"
      algo: "interpolation"
      version:
      - interpolation
      - lstm_predict
    fusion:
      enable: false
      module: "pre_process_ai_algo.algo_lib.fusion"
      algo: "fusion"
      version:
      - fusion
    smooth:
      enable: true
      module: "pre_process_ai_algo.algo_lib.smooth"
      algo: "exponential"
      version:
      - exponential
      - polynomial
    visual:
      enable: true
      module: "pre_process_ai_algo.pipelines.visualization"
      algo: "visual"
      version:
      - visual
scenario_algo:
  algos:
    collision_warning:
      enable: true
      module: "scenario_algo.algo_lib.collision_warning"
      algo: "collision_warning"
      version:
      - collision_warning
    cooperative_lane_change:
      enable: true
      module: "scenario_algo.algo_lib.cooperative_lane_change"
      algo: "cooperative_lane_change"
      version:
      - cooperative_lane_change
    do_not_pass_warning:
      enable: true
      module: "scenario_algo.algo_lib.do_not_pass_warning"
      algo: "do_not_pass_warning"
      version:
      - do_not_pass_warning
    sensor_data_sharing:
      enable: true
      module: "scenario_algo.algo_lib.sensor_data_sharing"
      algo: "sensor_data_sharing"
      version:
      - sensor_data_sharing
    reverse_driving_warning:
      enable: true
      module: "scenario_algo.algo_lib.reverse_driving_warning"
      algo: "reverse_driving_warning"
      version:
      - reverse_driving_warning
    congestion_warning:
      enable: true
      module: "scenario_algo.algo_lib.congestion_warning"
      algo: "congestion_warning"
      version:
      - congestion_warning
    overspeed_warning:
      enable: true
      module: "scenario_algo.algo_lib.overspeed_warning"
      algo: "overspeed_warning"
      version:
      - overspeed_warning
    slowspeed_warning:
      enable: true
      module: "scenario_algo.algo_lib.slowspeed_warning"
      algo: "slowspeed_warning"
      version:
      - slowspeed_warning
post_process_algo:
  algos:
    post_process:
      enable: true
      module: "post_process_algo.post_process"
      algo: "post_process"
      version:
      - post_process
