rsi_formatter:
  algos:
    rsi_formatter:
      enable: true
      module: "transform_driver.rsi_service"
      algo: ""
pre_process_ai_algo:
  algos:
    complement:
      enable: true
      module: "pre_process_ai_algo.algo_lib.complement"
      algo: "interpolation"
      # algo: "lstm_predict"
    fusion:
      enable: false
      module: "pre_process_ai_algo.algo_lib.fusion"
      algo: "fusion"
    smooth:
      enable: true
      module: "pre_process_ai_algo.algo_lib.smooth"
      algo: "exponential"
      # algo: "polynomial"
scenario_algo:
  algos:
    collision_warning:
      enable: true
      module: "scenario_algo.algo_lib.collision_warning"
      algo: "collision_warning"
    cooperative_lane_change:
      enable: true
      module: "scenario_algo.algo_lib.cooperative_lane_change"
      algo: ""
    do_not_pass_warning:
      enable: true
      module: "scenario_algo.algo_lib.do_not_pass_warning"
      algo: ""
    sensor_data_sharing:
      enable: true
      module: "scenario_algo.algo_lib.sensor_data_sharing"
      algo: ""
post_process_algo:
  algos:
    post_process:
      enable: true
      module: "post_process_algo.post_process"
      algo: ""
