- name: rsi_formatter
  enable: true
  algo: "transform_driver.rsi_service"
- name: pre_process_ai_algo
  enable: true
  algos:
    - name: complement
      enable: true
      algo: algo1
    - name: fusion
      enable: true
      algo: algo2
    - name: smooth
      enable: true
      algo: algo3
- name: scenario_aglo
  algos:
    collision_warning:
        enable: true
        name: algo4
- name: post_process_algo
  algos:
    post_process:
        enable: true
        name: algo5
